/* Error: Undefined mixin.
 *    ,
 * 15 | / @include media-breakpoint-down(sm) {
 * 16 | |   header.navbar {
 * 17 | |     ul.nav {
 * 18 | |       gap: 0.25rem;
 * 19 | | 
 * 20 | |       li.nav-item {
 * 21 | |         width: 100%;
 * 22 | |       }
 * 23 | |     }
 * 24 | |   }
 * 25 | \ }
 *    '
 *   assets/scss/custom/_navbar.scss 15:1    @import
 *   assets/scss/custom/components.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 15 \2502  \250c  @include media-breakpoint-down(sm) {\a 16 \2502  \2502    header.navbar {\a 17 \2502  \2502      ul.nav {\a 18 \2502  \2502        gap: 0.25rem;\a 19 \2502  \2502  \a 20 \2502  \2502        li.nav-item {\a 21 \2502  \2502          width: 100%;\a 22 \2502  \2502        }\a 23 \2502  \2502      }\a 24 \2502  \2502    }\a 25 \2502  \2514  }\a    \2575 \a   assets/scss/custom/_navbar.scss 15:1    @import\a   assets/scss/custom/components.scss 3:9  root stylesheet";
}
