$fixed-navbar-offset: 120px;

$wp-admin-bar-offset: 32px;
$wp-admin-bar-mobile-offset: 46px;

body {
  margin-top: $fixed-navbar-offset;

  div#wpadminbar {
    position: fixed;
  }

  &.logged-in {
    header#site-header {
      top: $wp-admin-bar-offset;
    }
  }
}

@media screen and (max-width: 782px) {
  body {
    &.logged-in {
      header#site-header {
        top: $wp-admin-bar-mobile-offset;
      }
    }
  }
}